body{
    font-size: 10px;
}

a{
    text-decoration: none;
}

.thumbnail-image    {
    width: 100%;
    display: block;
}

.thumbnail-title{
    background: rgb(96,125,139);
    display: block;
    color: rgb(202,238,255);
    margin: 0;
    padding: 4px 10px;

    font-size: 18px;
}