body{
    font-size: 10px;
    background-color: rgb(149, 194, 215)
}

a{
    text-decoration: none;
}

.thumbnail-item{
    border: 1px solid rgb(100%,100%,100%);
    border: 1px solid rg(100%,100%,100%);
   
}

.thumbnail-image    {
    width: 100%;
    display: block;
}

.thumbnail-title{
    background: rgb(96,125,139);
    display: block;
    color: rgb(202,238,255);
    margin: 0;
    padding: 4px 10px;

    font-size: 18px;
}